<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  <section class="section">
    <div class="container">
      {% include 'includes/navbar.html' %}

        <div class="columns">
          <div class="column screen" style="padding-top:1em;">
            <p>
              This service is a simple way for NFT project owners to collaborate on the metadata of their collections before applying to contracts on networks. It came about after issues with my own project, where my artist was compiling metadata and images locally, uploading to IPFS, and providing me with a new hash. Our QA checks were very manual and error prone. I would take his IPFS hash, perform <code>curl</code> checks in my Terminal, pipe outputs to <code>jq</code>, and <code>diff</code> the results. This was all very manual, error prone, and haphazard. It obviously needed to improve.</br>

            </p>
          </br>
            <p>
              I was inspired by the <a href="https://twitter.com/tubbycatsnft/" target="_blank">Tubby Cats NFT</a> project where they used a tool that allowed them to collaborate in a shared dashboard to review artwork and metadata, performing QA testing.
            </p>
          </br>
            <p>I thought I would develop something for my own project's needs and it wouldn't hurt if others could use it as well.</p>
          </div>
        </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
