
<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  <section class="section">
    <div class="container">

      {% include 'includes/navbar.html' %}

      <h1>{{ collection.title }}</h1>

      {% for _tokens in tokens | batch(3) %}
      <div class="columns" id="tokens">
        {% for token in _tokens %}
          <div class="column">
            {% include 'includes/token_card.html' %}
          </div>
        {% endfor %}
      </div>
      {% endfor %}

      <div class="columns">
        <div class="column">
          {% if page > 1 %}
          <a class="button is-success is-12 column" href="?page={{ page - 1 }}" up-target=".container"><- Back</a>
          {% endif %}
        </div>
        <div class="column">
          {% if page < total_pages %}
          <a class="button is-success is-12 column" href="?page={{ page + 1 }}" up-target=".container">Next -></a>
          {% endif %}
        </div>
      </div>

    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
