{% set total_tokens = collection.end_token_id + 1 - collection.start_token_id %}
<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  {% include 'includes/navbar.html' %}
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title">{{ collection.title }}</h1>
      <nav class="level">
        <div class="level-item">
          <div>
            <p class="heading">Tokens</p>
            <p class="title">{{ total_tokens }}</p>
            {% if (collection.tokens | length) < total_tokens %}
            <p>{{ collection.tokens | length }} tokens scanned</p>
            {% endif %}
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Collaborators</p>
            <p class="title">{{ (collection.accesses | length) + 1 }}</p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Rejected</p>
            <p class="title">{{ collection.get_tokens(rejected=True).count() }}</p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Approved</p>
            <p class="title">{{ collection.get_tokens(approved=True).count() }}</p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Unreviewed</p>
            <p class="title">
              {% set unreviewed = collection.get_tokens().count() %}
              {% set next_token = collection.get_tokens().first() %}
              <a href="{{ url_for('collection.show_token', collection_id=collection.id, token_id=next_token.token_id) }}" up-target=".container" up-transition="cross-fade">
                {{ unreviewed }}
              </a>
            </p>
          </div>
        </div>
      </nav>
      <div class="columns">
        <div class="column">

        </div>
      </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
