<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  <section class="section">
    <div class="container">
      {% include 'includes/navbar.html' %}

      {% if collections %}
        {% for _col in collections | batch(4) %}
        <div class="columns">
          {% for collection in _col %}
          {% include 'includes/collection_card.html' %}
          {% endfor %}
        </div>
        {% endfor %}
      {% else %}
        <div class="notification is-secondary has-text-centered">
          <p>You're not part of any collections yet</p>
        </div>
      {% endif %}

    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
