<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  <section class="section">
    <div class="container">
      {% include 'includes/navbar.html' %}

      {% if collections %}
        {% for _col in collections | batch(4) %}
        <div class="columns">
          {% for meme in _col %}
          {% include 'includes/meme_card.html' %}
          {% endfor %}
        </div>
        {% endfor %}
      {% endif %}

    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
