<head>
  <title>metachecker</title>
  <meta property="og:description" content="NFT project metadata review platform">
  <meta property="og:image" content="https://metachecker.xyz/static/img/logo.png">
  <meta property="og:title" content="metachecker">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@lza_menace">
  <meta name="twitter:title" content="metachecker">
  <meta name="twitter:description" content="NFT project metadata review platform">
  <meta name="twitter:creator" content="@lza_menace">
  <meta name="twitter:image" content="https://metachecker.xyz/static/img/logo.png">
  <meta name="twitter:domain" content="https://metachecker.xyz">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/vendor/unpoly-2.5.0.min.css">
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <!-- <link rel="stylesheet" href="/static/css/bulma.css.map"> -->
  <link rel="stylesheet" href="/static/css/vendor/noty-relax.css" />
  <link rel="stylesheet" href="/static/css/vendor/noty.css" />
  <link rel="stylesheet" href="/static/css/custom.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
